/* Add additional stylesheets below
-------------------------------------------------- */
.occupied1 {
   background-color: blue;
    border: 2px solid black;
}

.inline{

display:inline-block;
}



.ship1 {
  width:15px;
  height:15px;
  margin-left:5px;
  display:inline-block;
}

.placed {

    background-color: aqua !important;
    border: 2px solid black;
}

.flexcontainer {
  display: flex;
  align-items: center;
}
@media (max-width: 320px) {
  .flexcontainer {
    display: block;
  }
}





.spacer{
display: inline-block;
    position: relative;

    height: 150px;
    width: 150px;

    background-color: #fff;
    vertical-align:top;
}
.moveLeftOne{
margin-left:calc(50% - 400px);
}
.moveLeftTwo{
margin-left:calc(50% - 210px);
}

/* CHANGES MADE HERE */
.log {
    width: 320px;
    height: 120px;
    color: #000000;
    background-color: #ffffff;
    overflow: hidden;
    border: 1px solid #000000;
    position: absolute;
    margin-top: 12px;
    right: 1px;
    }

.alert {
  width: 150px;
         height: 100px;

             color: #D8000C;
             background-color: #FFD2D2;

         overflow: hidden;
           border: 1px solid #D8000C;
         margin-top:20px;

}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.centerContent{
text-align:center;
}
.removeStyleList{
 list-style-type: none;
}

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
    position: relative;
}

/* Hover styles */
#opponent td:hover {
    background-color: rgba(248, 97, 16, 0.4);
}

#opponent td:hover:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 3px dashed rgba(248, 97, 16, 1);
}

#player td:hover {
    background-color: rgba(100, 100, 100, 0.2);
}

#player .sidesBorderVert:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 3px dashed aqua;
    border-right: 3px dashed aqua;
}

#player .sidesBorderHoriz:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-top: 3px dashed aqua;
    border-bottom: 3px dashed aqua;
}

#player .sidesBorderLeft:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 3px dashed aqua;
}

#player .sidesBorderRight:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: 3px dashed aqua;
}

#player .sidesBorderTop:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-top: 3px dashed aqua;
}

#player .sidesBorderBottom:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-bottom: 3px dashed aqua;
}

/* Ship styles */
.ship {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
}

.placed {
    background-color: aqua !important;
    border: 2px solid black;
}

.occupied {
    background-color: blue;
    border: 2px solid black;
}

div.playerHit {
    background-color: red;
}

/* Marker styles */
.marker {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
}

.innerCircle {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    border-radius: 50%;
    border: 2px solid black;
}

div.miss {
    border-radius: 50%;
    border: 3px solid black;
}

div.hit {
    border: 2px solid black;
    background-color: gray;
}

div.sink {
    background-color: red;
}

.right {
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}

.left {
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}

.up {
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
}
.down {
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
